table,td,th {
  border: 2px solid rgb(170, 201, 211);
  border-collapse: collapse;
  text-align: center;
  margin-top: 5%;
  margin-top: 0%;
}

th{
padding: 10px;
background-color: rgb(214, 227, 231);
}

td{
  padding: 10px;
}
